.table .glyphicon {
    display: inline-block;
    margin: 2px;
}
.content-header>.breadcrumb {
    left: 30px;
    right: auto;
}
.content {
    clear: both;
    margin-top: 20px;

}
.content > .box.box-primary {
    padding: 10px;
}
.spectrum-group .input-group-addon
{
    padding: 0;
}
.list_schemas  > div {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 0px;
    height:  32px;
    margin: 1px 5px;
    cursor: pointer;

}
.list_schemas  > div.active{
    border: 1px solid #000;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px 2px rgba(0, 0, 0, 0.5);
}
.list_schemas  > div span{
    width: 31%;
    height: 30px;
    display: inline-block;
}
