/* MAIN CSS */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a { text-decoration: none;cursor: pointer; }
a img {border: none;}
a:hover, a:active, a:focus { outline: 0;}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
p{margin: 3px 0px;}
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: default; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
input {outline: none;border: none;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }






/* FONTS
----------------------------------------------------*/
@font-face {
    font-family: 'futura';
    src: url('fonts/futura/subset-FuturaPT-Book.eot');
    src: url('fonts/futura/subset-FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/futura/subset-FuturaPT-Book.woff2') format('woff2'),
    url('fonts/futura/subset-FuturaPT-Book.woff') format('woff'),
    url('fonts/futura/subset-FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('fonts/futura/subset-FuturaPT-Demi.eot');
    src: url('fonts/futura/subset-FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('fonts/futura/subset-FuturaPT-Demi.woff2') format('woff2'),
    url('fonts/futura/subset-FuturaPT-Demi.woff') format('woff'),
    url('fonts/futura/subset-FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anglecia';
    src: url('fonts/anglecia/subset-AngleciaProDisplay.eot');
    src: url('fonts/anglecia/subset-AngleciaProDisplay.eot?#iefix') format('embedded-opentype'),
    url('fonts/anglecia/subset-AngleciaProDisplay.woff2') format('woff2'),
    url('fonts/anglecia/subset-AngleciaProDisplay.woff') format('woff'),
    url('fonts/anglecia/subset-AngleciaProDisplay.svg#AngleciaProDisplay') format('svg');
    font-weight: 500;
    font-style: normal;
}





/* COMMON STYLES
----------------------------------------------------*/
* {vertical-align: top;font-family: 'futura', sans-serif;font-weight: 300;line-height: 1.2;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin: 0;padding: 0;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
*:not(.clip_field):not(textarea):not(input) {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
*, *::after, *::before {box-sizing: border-box;}
html {height: 100%;}
body {margin: 0;padding: 0;width: 100%;height: 100%;}
body::before {content: 'mobile';display: none;}
#body_mask {width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 20000;background: rgba(40,40,40,.6);display: none;}
svg {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.space_box {width: 100%;}





/* MAIN CONTENT STYLES
----------------------------------------------------*/
.ease {-webkit-transition: .3s ease;-moz-transition: .3s ease;-o-transition: .3s ease;-ms-transition: .3s ease;transition: .3s ease;}
.ease2 {-webkit-transition: .5s ease;-moz-transition: .5s ease;-o-transition: .5s ease;-ms-transition: .5s ease;transition: .5s ease;}
.easeIn {-webkit-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-moz-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-o-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-ms-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);}
.easeIn2 {-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.easeOut {-webkit-transition: all 1s cubic-bezier(0,.73,.4,1);-moz-transition: all 1s cubic-bezier(0,.73,.4,1);-o-transition: all 1s cubic-bezier(0,.73,.4,1);-ms-transition: all 1s cubic-bezier(0,.73,.4,1);transition: all 1s cubic-bezier(0,.73,.4,1);}
.easeInOut {-webkit-transition: all .6s cubic-bezier(.07,.41,.43,1);-moz-transition: all .6s cubic-bezier(.07,.41,.43,1);-o-transition: all .6s cubic-bezier(.07,.41,.43,1);-ms-transition: all .6s cubic-bezier(.07,.41,.43,1);transition: all .6s cubic-bezier(.07,.41,.43,1);}
.easeBounce {-webkit-transition: .3s cubic-bezier(.57,-0.48,.43,1.45);-moz-transition: .3s cubic-bezier(.57,-0.48,.43,1.45);-o-transition: .3s cubic-bezier(.57,-0.48,.43,1.45);-ms-transition: .3s cubic-bezier(.57,-0.48,.43,1.45);transition: .3s cubic-bezier(.57,-0.48,.43,1.45);}
.clear_me:after {width: 100%;height: 0px;display: block;content: "";clear: both;visibility: hidden;}
.up_case,
.up_case > span,
.up_case > span > span {text-transform: uppercase;}
.waDelay, .waDelay * {-webkit-transition-delay: 0s !important;-moz-transition-delay: 0s !important;transition-delay: 0s !important;}
.vertical > span {width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;position: relative;z-index: 2;font-size: inherit;font-weight: inherit;font-style: inherit;color: inherit;}
.abs {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
.ld_content {width: 100%;height: 100%;position: relative;z-index: 5;}
.ld_vidget .ld_content {height: 100vh;}
.cntr_back {background-position: center;background-size: contain;background-repeat: no-repeat;}
.cntr_pos {text-align: center;}
.row_align {display: flex;flex-direction: row;justify-content: space-between;}
.mobi {display: none;}

#main_swp {height: 100vh;min-height: 550px;position: relative;z-index: 5;}
#main_swp .swiper-slide {width: 80vw;padding: 20vh 100px 10vh;}
#main_swp .slide_wrap {padding-left: 0;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
#main_swp .swiper-slide.swiper-slide-active .slide_wrap {padding-left: 180px;}
.pageContent, .landing_wrap {width: 100%;height: 100%;}
.grids_container {width: 100%;height: 100%;min-height: 550px;position: relative;z-index: 2;}
.slide_wrap {height: 100%;display: flex;flex-direction: column;justify-content: center;}
.slide_wrap .circle_link_holder {opacity: 0;left: 50px;-webkit-transition: .5s ease;-moz-transition: .5s ease;transition: .5s ease;}
#main_swp .swiper-slide.swiper-slide-active .slide_wrap .circle_link_holder {left: 0;opacity: 1;}

.back_shapes {position: absolute;top: 0;left: 0;width: 100%;height: 100vh;z-index: 1;}
.back_shapes .back_color {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;-webkit-transition: .4s ease;-moz-transition: .4s ease;transition: .4s ease;}
.landing_wrap .slide_wrap {color: #4E4F7E;}
.landing_wrap[data-active="1"] .back_shapes .back_color {background: #fff;}
.landing_wrap[data-active="2"] .back_shapes .back_color,
.landing_wrap[data-active="2"] .prodPage,
.landing_wrap[data-active="2"] .innerPage,
.landing_wrap[data-active="92"] {background: #F7FFEB;}
.landing_wrap[data-active="3"] .back_shapes .back_color,
.landing_wrap[data-active="3"] .prodPage,
.landing_wrap[data-active="3"] .innerPage,
.landing_wrap[data-active="93"] {background: #FAFAFA;}
.landing_wrap[data-active="4"] .slide_wrap {color: #fff;}
.landing_wrap[data-active="4"] .back_shapes .back_color,
.landing_wrap[data-active="4"] .prodPage,
.landing_wrap[data-active="4"] .innerPage,
.landing_wrap[data-active="94"] {background: #184128;}
.landing_wrap[data-active="5"] .back_shapes .back_color,
.landing_wrap[data-active="5"] .prodPage,
.landing_wrap[data-active="5"] .innerPage,
.landing_wrap[data-active="95"] {background: #FCF3F3;}
.landing_wrap[data-active="6"] .back_shapes .back_color,
.landing_wrap[data-active="6"] .prodPage,
.landing_wrap[data-active="6"] .innerPage,
.landing_wrap[data-active="96"] {background: #fff3f3/*#EDF6FC*/;}
.landing_wrap[data-active="7"] .back_shapes .back_color,
.landing_wrap[data-active="7"] .prodPage,
.landing_wrap[data-active="7"] .innerPage,
.landing_wrap[data-active="97"] {background: #F0FAF4;}


.landing_wrap[data-active="91"],
.landing_wrap[data-active="92"],
.landing_wrap[data-active="93"],
.landing_wrap[data-active="94"],
.landing_wrap[data-active="95"],
.landing_wrap[data-active="96"],
.landing_wrap[data-active="97"],
.landing_wrap[data-active="98"],
.landing_wrap[data-active="99"] {height: auto;min-height: 100%;}

.landing_wrap[data-active="2"] .slide_wrap .circle_anim svg circle,
.landing_wrap[data-active="3"] .slide_wrap .circle_anim svg circle {stroke: #C9E79D;}

.landing_wrap[data-active="4"] header:not(.active) .logo {background-image: url('../images/svg/mLogo_light.svg');}
.landing_wrap[data-active="4"] header:not(.active) .nav_item,
.landing_wrap[data-active="4"] header:not(.active) .langs_wrap a,
.landing_wrap[data-active="4"] header:not(.active) .top_nav a span:not(.icon-location),
.landing_wrap[data-active="4"] header:not(.active) .nav_item span,
.landing_wrap[data-active="4"] .slide_wrap .circle_anim span:not(.spcl),
.landing_wrap[data-active="4"] .slider_navs > span > span,
.landing_wrap[data-active="4"] .slide_counter,
.landing_wrap[data-active="4"] .scroll_to,
.landing_wrap[data-active="4"] .slider_container_wraper > .to_facebook,
.landing_wrap[data-active="4"] header:not(.active) .langs_wrap span {color: #fff;}
.landing_wrap[data-active="4"] header:not(.active) .langs_wrap span:not(.icon-arrow):before,
.landing_wrap[data-active="4"] .slide_wrap .circle_anim:before,
.landing_wrap[data-active="4"] header:not(.active) .menuBtn:before,
.landing_wrap[data-active="4"] header:not(.active) .menuBtn:after {background: #fff;}
body:not(.mobile) .landing_wrap[data-active="4"] header:not(.active) .top_nav a:hover span:not(.icon-location) {border-color: #fff;}
.landing_wrap[data-active="4"] .slide_wrap .circle_anim svg circle {stroke: #38724E;}

.drag_circle {width: 102px;height: 102px;position: absolute;left: calc(50% - 52px);top: calc(50% + 50px);border: 1px solid #4E4F7E;opacity: 0;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;display: none !important;}
.drag_circle span.icon-pointer {font-size: 28px;line-height: 28px;height: 28px;position: absolute;top: calc(50% - 14px);color: #4E4F7E;}
.drag_circle span.icon-pointer:nth-of-type(1) {left: 10px;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
.drag_circle span.icon-pointer:nth-of-type(2) {right: 10px;}
.landing_wrap[data-active="1"] .drag_circle {opacity: 1;}

.slider_container_wraper {position: relative;}
.scroller {height: 100%;overflow: hidden;overflow-y: auto;}
.circle_anim {padding-right: 50px;height: 56px;position: relative;cursor: pointer;display: inline-block;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.circle_anim:before {width: 40px;height: 1px;background: #4E4F7E;position: absolute;top: calc(50% + 2px);right: 0;z-index: 2;content: "";}
.circle_anim span:not(.spcl) {height: 100%;display: flex;flex-direction: column;justify-content: center;font-size: 16px;color: #4E4F7E;position: relative;z-index: 3;}
.circle_anim svg {width: 54px;height: 100%;position: absolute;top: 0;left: auto;right: 15px;z-index: 1;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg);-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.circle_anim svg circle {stroke: #95E2EE;stroke-width: 1px;fill-rule: evenodd;fill: none;stroke-dasharray: 300;stroke-dashoffset: 0;-webkit-transition: .5s ease;-moz-transition: .5s ease;transition: .5s ease;}
body:not(.mobile) .circle_anim:hover svg {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);}
body:not(.mobile) .circle_anim:hover svg circle {stroke-dashoffset: -180;}
.slide_counter {position: absolute;z-index: 20;top: calc(50% - 180px);left: 40px;font-size: 16px;color: #4E4F7E;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg);}
.slide_counter span {display: inline-block;padding: 0 2px;font-size: 16px;width: 24px;height: 18px;overflow: hidden;position: relative;}
.slide_counter span.curr {text-align: right;}
.slide_counter span.curr > span {position: absolute;top: -100%;left: 0;width: 100%;height: 100%;display: block;font-size: inherit;color: inherit;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}

.slide_counter[data-active="1"] span.curr > span[data-sld="1"],
.slide_counter[data-active="2"] span.curr > span[data-sld="2"],
.slide_counter[data-active="3"] span.curr > span[data-sld="3"],
.slide_counter[data-active="4"] span.curr > span[data-sld="4"],
.slide_counter[data-active="5"] span.curr > span[data-sld="5"],
.slide_counter[data-active="6"] span.curr > span[data-sld="6"],
.slide_counter[data-active="7"] span.curr > span[data-sld="7"],
.slide_counter[data-active="8"] span.curr > span[data-sld="8"],
.slide_counter[data-active="9"] span.curr > span[data-sld="9"],
.slide_counter[data-active="10"] span.curr > span[data-sld="10"],
.slide_counter[data-active="11"] span.curr > span[data-sld="11"],
.slide_counter[data-active="12"] span.curr > span[data-sld="12"],
.slide_counter[data-active="13"] span.curr > span[data-sld="13"] {opacity: 1;top: 0;}

.slide_counter[data-active="1"] span.curr > span[data-sld="1"] ~ span,
.slide_counter[data-active="2"] span.curr > span[data-sld="2"] ~ span,
.slide_counter[data-active="3"] span.curr > span[data-sld="3"] ~ span,
.slide_counter[data-active="4"] span.curr > span[data-sld="4"] ~ span,
.slide_counter[data-active="5"] span.curr > span[data-sld="5"] ~ span,
.slide_counter[data-active="6"] span.curr > span[data-sld="6"] ~ span,
.slide_counter[data-active="7"] span.curr > span[data-sld="7"] ~ span,
.slide_counter[data-active="8"] span.curr > span[data-sld="8"] ~ span,
.slide_counter[data-active="9"] span.curr > span[data-sld="9"] ~ span,
.slide_counter[data-active="10"] span.curr > span[data-sld="10"] ~ span,
.slide_counter[data-active="11"] span.curr > span[data-sld="11"] ~ span,
.slide_counter[data-active="12"] span.curr > span[data-sld="12"] ~ span,
.slide_counter[data-active="13"] span.curr > span[data-sld="13"] ~ span {top: 100%;}

.slider_navs {width: 200px;position: absolute;top: calc(50% - 200px);left: 285px;z-index: 30;overflow: hidden;}
.slider_navs > span {height: 22px;cursor: pointer;display: inline-block;margin: 0 40px 0 0;overflow: hidden;position: relative;-webkit-transition: .4s ease;-moz-transition: .4s ease;transition: .4s ease;}
.slider_navs > span > span {display: block;height: 100%;font: 16px/22px anglecia;color: #4E4F7E;}
.slider_navs > span > span:nth-child(1) {margin-top: -22px;}
body:not(.mobile) .slider_navs > span:hover > span:nth-child(1) {margin-top: 0;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.main_slide_cont {width: 100vw;margin: 0 -100px;}
.main_title {display: block;position: relative;}
.main_title span {font: 48px anglecia;color: #4E4F7E;position: relative;z-index: 2;}
.main_subtitle {font-size: 16px;color: #4E4F7E;padding-top: 20px;display: block;line-height: 1.5;padding-bottom: 10px;position: relative;}
.slide_name {font: 64px anglecia;padding-bottom: 110px;}
.top_ingredients {background: #EDF6FC;min-height: 100vh;}
.top_ingredients .show_item.right_pos {top: 180px;right: 170px;}
.top_ingredients .circle_anim svg circle {stroke: #FFA4A7;}
.show_item {position: relative;}
.show_item.right_pos {position: absolute;top: 0;right: 0;}
.some_wrap {padding: 180px 170px;position: relative;}
.ingredients_box {width: 85%;position: relative;left: 15%;text-align: center;}
.ingredient_item {width: 230px;height: 230px;display: inline-block;margin: 40px;position: relative;}
.ingredient_item + br {display: none;}
.ingredient_item .ingr_shape {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
.ingredient_item .ingr_shape svg {width: 90%;height: 90%;position: absolute;top: 5%;left: 5%;}
.ingr_img {width: 100%;height: 100%;position: relative;z-index: 2;}
.ingr_img span {position: absolute;display: block;bottom: 0;left: 10px;font-size: 24px;}
.ingredient_item:nth-of-type(1) .ingr_img span {left: auto;right: 40px;bottom: 20px;}
.ingredient_item:nth-of-type(2) {top: 60px;}
.ingredient_item:nth-of-type(2) .ingr_shape svg {-webkit-transform: scale(.9);-moz-transform: scale(.9);transform: scale(.9);}
.ingredient_item:nth-of-type(2) .ingr_img span {left: 35px;bottom: 10px;}
.ingredient_item:nth-of-type(3) {margin-right: -240px;}
.ingredient_item:nth-of-type(3) .ingr_shape svg {-webkit-transform: scale(.8);-moz-transform: scale(.8);transform: scale(.8);}
.ingredient_item:nth-of-type(3) .ingr_img span {left: auto;right: 30px;bottom: 0;}
.ingredient_item:nth-of-type(3) + br {display: block;}
.ingredient_item:nth-of-type(4) {}
.ingredient_item:nth-of-type(4) .ingr_img span {left: 20px;bottom: 10px;}
.ingredient_item:nth-of-type(5) {top: 60px;}
.ingredient_item:nth-of-type(5) .ingr_shape svg {-webkit-transform: scale(.9);-moz-transform: scale(.9);transform: scale(.9);}
.ingredient_item:nth-of-type(5) .ingr_img span {left: 30px;bottom: -10px;}
.ingredient_item:nth-of-type(6) {}
.ingredient_item:nth-of-type(6) .ingr_shape svg {-webkit-transform: scale(.8);-moz-transform: scale(.8);transform: scale(.8);}
.ingredient_item:nth-of-type(6) .ingr_img span {left: auto;right: 25px;bottom: -10px;}
.ingredient_item:nth-of-type(6) + br {display: block;}
.ingredient_item:nth-of-type(7) {top: 40px;}
.ingredient_item:nth-of-type(7) .ingr_shape svg {-webkit-transform: scale(.8);-moz-transform: scale(.8);transform: scale(.8);}
.ingredient_item:nth-of-type(7) .ingr_img span {left: 20px;bottom: 0;}
.ingredient_item:nth-of-type(8) {top: 60px;}
.ingredient_item:nth-of-type(8) .ingr_shape svg {-webkit-transform: scale(.9);-moz-transform: scale(.9);transform: scale(.9);}
.ingredient_item:nth-of-type(8) .ingr_img span {left: auto;right: 50px;bottom: 30px;}
.ingredient_item:nth-of-type(9) {}
.ingredient_item:nth-of-type(9) .ingr_img span {left: auto;right: 20px;bottom: 0;}

.new_products {background: #FDF3ED;min-height: 100vh;overflow: hidden;}
.c_layer {position: relative;width: 100%;height: 100%;z-index: 3;}
.c_layer.back_lr {position: absolute;z-index: 1;overflow: hidden;}
.bubble {position: absolute;}
.bubble.bub_a {width: 400px;height: 400px;top: 50%;left: 200px;}
.bubble.bub_b {width: 400px;height: 400px;top: 15%;right: -150px;}

.bubble.bub_c {width: 350px;height: 350px;top: 10%;left: 15%;}
.bubble.bub_d {width: 350px;height: 350px;top: 50%;left: 45%;}

.bubble.bub_e {width: 400px;height: 400px;top: 32%;left: calc(50% - 500px);}
.bubble.bub_f {width: 400px;height: 400px;top: 0;left: calc(50% + 150px);}

.bubble.bub_g {width: 350px;height: 350px;top: 10%;right: 30%;}
.bubble.bub_h {width: 350px;height: 350px;top: 40%;right: -150px;}

.new_prods_box {position: relative;height: 480px;margin-top: 70px;}
.flip_title {position: absolute;left: 80px;bottom: 50px;font: 40px anglecia;color: #4E4F7E;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg);}
#new_swp {width: 100vw;height: 100%;position: relative;left: -170px;}
#new_swp .swiper-slide {width: 312px;}
.product_item {width: 312px;height: 480px;display: block;background: #fff;position: relative;-webkit-transition: .5s ease;-moz-transition: .5s ease;transition: .5s ease;}
.swiper-slide .product_item {-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.proditem_wrap {height: 100%;padding: 30px 40px;}
.proditem_img {width: 100%;height: 80%;position: relative;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.proditem_info {width: 100%;margin: 40px 0 0;display: flex;flex-direction: row;justify-content: space-between;position: relative;}
.proditem_info span {height: 2.4em;font-size: 16px;color: #4E4F7E;max-width: 45%;overflow: hidden;position: relative;z-index: 2;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.proditem_info span.lt {text-align: left;}
.proditem_info span.gt {text-align: right;top: 0;}
.proditem_info .watch_this {position: absolute;top: 20px;width: 45%;left: 55%;z-index: 1;text-align: right;opacity: 0;}
.proditem_info .watch_this span {font-size: 16px;color: #4E4F7E;padding: 0 0 1px;border-bottom: 1px solid #4E4F7E;}
body:not(.mobile) .product_item:hover .proditem_info span.gt {top: -20px;opacity: 0;}
body:not(.mobile) .product_item:hover .proditem_info .watch_this {top: 0;opacity: 1;}
body:not(.mobile) .product_item:hover .proditem_img {opacity: .8;}

.followus {background: #FFFCEB;min-height: 100vh;overflow: hidden;}
.followus .some_wrap {padding-left: 150px;padding-right: 150px;}
.followus .circle_anim svg circle {stroke: #FFA4A7;}
.followus .circle_link_holder {padding-top: 70px;}
.follow_poster {width: 60%;height: 640px;position: relative;}
.follow_poster.slideUp {overflow: hidden;}
.follow_poster > div {width: 100%;height: 100%;position: absolute;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.follow_poster .follow_part {position: absolute;width: 50%;height: 100%;z-index: 1;top: 0;}
.follow_poster .follow_part.lr_a {right: 0;}
.follow_poster .follow_part.lr_b {right: 33%;z-index: 2;}
.follow_poster .follow_part > div {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.follow_info {width: 35%;}

footer {width: 100%;padding: 0 60px 60px;}
footer .footer_title {width: 100%;height: 40px;position: relative;}
footer .footer_title span {width: 140px;height: 100%;display: block;position: absolute;top: 0;left: calc(50% - 70px);background-image: url('../images/svg/mLogo.svg');}
footer .footer_title:before {width: calc(50% - 100px);height: 1px;position: absolute;top: 50%;left: 0;background: #4E4F7E;content: "";opacity: .2;}
footer .footer_title:after {width: calc(50% - 100px);height: 1px;position: absolute;top: 50%;right: 0;background: #4E4F7E;content: "";opacity: .2;}
footer .ft_copy {width: 100%;margin: 90px 0 0;position: relative;}
footer .ft_copy .ft_nav {width: 100%;position: absolute;top: 0;left: 0;z-index: 2;text-align: center;}
footer .ft_copy .ft_nav a {height: 20px;display: inline-block;margin: 0 20px;font-size: 18px;line-height: 20px;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
footer .ft_copy .ft_nav a.loc_icon {padding-left: 24px;position: relative;}
footer .ft_copy .ft_nav a.loc_icon > span {display: block;}
footer .ft_copy .ft_nav a.loc_icon > span span {position: absolute;font-size: 16px;top: 1px;left: 0;display: block;}
.to_facebook {position: absolute;top: 0;right: 0;display: block;height: 20px;font-size: 18px;line-height: 20px;z-index: 3;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
body:not(.mobile) .to_facebook:hover {color: #AFB0CE;}
body:not(.mobile) footer .ft_copy .ft_nav a:hover {color: #AFB0CE;}
footer .copyright {position: relative;z-index: 1;font-size: 16px;line-height: 20px;height: 20px;color: #4E4F7E;}
.slider_container_wraper > .to_facebook {right: 60px;top: auto;bottom: 50px;z-index: 20;}

header {width: 100%;height: 76px;position: fixed;z-index: 1000;top: 0;left: 0;background: rgba(255,255,255,0);-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
header.active {height: auto;background-color: rgba(255,255,255,1);}
.header_wrap {}
.logo {width: 140px;height: 40px;display: inline-block;margin: 35px 0 0 60px;background-image: url('../images/svg/mLogo.svg');position: relative;z-index: 3;}
.menu_wrapper {width: calc(100vw - 350px);display: inline-block;margin: 35px 0 0 80px;}
.wrapper_wrapper {position: relative;}
.nav_item {display: inline-block;margin: 10px 40px 10px 0;font-size: 18px;padding-right: 20px;color: #4E4F7E;position: relative;z-index: 5;cursor: pointer;}
.nav_item span:not(.inline) {font-size: 10px;margin-left: 8px;position: absolute;top: 4px;right: 0;margin-top: 3px;color: #4E4F7E;}
.nav_item span.inline {display: none;}
.nav_item:before {width: 0px;height: 0px;position: absolute;top: -100px;left: calc(50% - 10px);content: "";background: #4E4F7E;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;-webkit-transition: .2s ease;-moz-transition: .2s ease;transition: .2s ease;}
.nav_item.active:before {width: 4px;height: 4px;top: -12px;left: calc(50% - 12px);}
.nav_item.active span {color: #AFB0CE;margin-top: 0;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
.nav_item.active {color: #AFB0CE;}
body:not(.mobile) .nav_item:hover {color: #AFB0CE;}
.drop_box {width: 100%;position: absolute;top: 60px;left: 0;z-index: 1;overflow: hidden;height: 0px;/*display: flex;flex-direction: row;justify-content: space-between;*/-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.nav_cat {display: block;padding: 0 0 8px;border-bottom: 1px solid #EBEBEB;font-weight: 400;font-size: 12px;color: #4E4F7E;}
.drop_box_wrap {position: relative;top: 20px;left: 0;opacity: 0;-webkit-transition: .2s ease;-moz-transition: .2s ease;transition: .2s ease;}
.drop_box_wrap:nth-child(1),
.drop_box_wrap:nth-child(3) {max-width: calc(36% - 30px);}
.drop_box_wrap:nth-child(2) {max-width: 28%;}
.droplist_wrap {width: 100%;padding: 10px 0 0;}
.droplist_wrap .nav_itm {display: block;padding: 5px 20px 5px 0;font-size: 16px;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.droplist_wrap .nav_itm:nth-of-type(2n) {padding-right: 0;}
.droplist_wrap .nav_itm span.icon-short_pointer {color: #FFB5B7;margin-left: 10px;position: relative;top: 4px;}
.droplist_wrap .nav_itm.active,
body:not(.mobile) .droplist_wrap .nav_itm:hover {color: #FFB5B7;}
.drop_box_wrap {margin-right: 30px;display: inline-block;}
.drop_box_wrap.cols .droplist_wrap .nav_itm {width: calc(50% - 10px);display: inline-block;}

.nav_item[data-drop="1"].active ~ .drop_box[data-box="1"],
.nav_item[data-drop="2"].active ~ .drop_box[data-box="2"],
.nav_item[data-drop="3"].active ~ .drop_box[data-box="3"],
.nav_item[data-drop="4"].active ~ .drop_box[data-box="4"],
.nav_item[data-drop="5"].active ~ .drop_box[data-box="5"] {height: auto;top: 0;padding: 30px 0 60px;z-index: 2;position: relative;}
.nav_item[data-drop="1"].active ~ .drop_box[data-box="1"] .drop_box_wrap:nth-child(1) {top: 0;opacity: 1;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.nav_item[data-drop="1"].active ~ .drop_box[data-box="1"] .drop_box_wrap:nth-child(2) {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.nav_item[data-drop="1"].active ~ .drop_box[data-box="1"] .drop_box_wrap:nth-child(3) {top: 0;opacity: 1;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}

.nav_item[data-drop="2"].active ~ .drop_box[data-box="2"] .drop_box_wrap:nth-child(1) {top: 0;opacity: 1;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.nav_item[data-drop="2"].active ~ .drop_box[data-box="2"] .drop_box_wrap:nth-child(2) {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.nav_item[data-drop="2"].active ~ .drop_box[data-box="2"] .drop_box_wrap:nth-child(3) {top: 0;opacity: 1;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}

.nav_item[data-drop="3"].active ~ .drop_box[data-box="3"] .drop_box_wrap:nth-child(1) {top: 0;opacity: 1;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.nav_item[data-drop="3"].active ~ .drop_box[data-box="3"] .drop_box_wrap:nth-child(2) {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.nav_item[data-drop="3"].active ~ .drop_box[data-box="3"] .drop_box_wrap:nth-child(3) {top: 0;opacity: 1;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}

.nav_item[data-drop="4"].active ~ .drop_box[data-box="4"] .drop_box_wrap:nth-child(1) {top: 0;opacity: 1;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.nav_item[data-drop="4"].active ~ .drop_box[data-box="4"] .drop_box_wrap:nth-child(2) {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.nav_item[data-drop="4"].active ~ .drop_box[data-box="4"] .drop_box_wrap:nth-child(3) {top: 0;opacity: 1;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}

.nav_item[data-drop="5"].active ~ .drop_box[data-box="5"] .drop_box_wrap:nth-child(1) {top: 0;opacity: 1;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.nav_item[data-drop="5"].active ~ .drop_box[data-box="5"] .drop_box_wrap:nth-child(2) {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.nav_item[data-drop="5"].active ~ .drop_box[data-box="5"] .drop_box_wrap:nth-child(3) {top: 0;opacity: 1;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}

.langs_box {position: absolute;top: 45px;right: 60px;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.langs_wrap span.icon-arrow {display: block;margin: 3px 0 0 8px;font-size: 10px;color: #4E4F7E;position: absolute;z-index: 1;top: 0;right: 0;}
.langs_wrap {width: 46px;position: relative;z-index: 2;display: block;}
.langs_wrap a {width: 100%;position: absolute;top: 50%;left: 0;display: block;z-index: -1;opacity: 0;height: 0px;padding-right: 20px;line-height: 20px;overflow: hidden;text-align: right;font-size: 14px;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.langs_wrap span:not(.icon-arrow) {position: relative;height: 20px;padding-right: 20px;opacity: 1;z-index: 2;font-size: 14px;color: #4E4F7E;cursor: pointer;display: block;text-align: right;}
.langs_wrap span:not(.icon-arrow):before {width: 0px;height: 0px;position: absolute;top: 50%;left: -10px;content: "";background: #4E4F7E;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.langs_wrap span:not(.icon-arrow).active:before {width: 4px;height: 4px;top: calc(50% - 4px);left: -12px;}
.langs_wrap span:not(.icon-arrow).active ~ a {opacity: 1;height: 20px;z-index: 1;}
.langs_wrap span:not(.icon-arrow).active ~ a:nth-of-type(1) {top: 100%;}
.langs_wrap span:not(.icon-arrow).active ~ a:nth-of-type(2) {top: 200%;}
.langs_wrap span:not(.icon-arrow).active {color: #AFB0CE;}
.langs_wrap span:not(.icon-arrow).active ~ span.icon-arrow {color: #AFB0CE;margin-top: 0;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
body:not(.mobile) .langs_wrap a:hover,
body:not(.mobile) .langs_wrap span:not(.icon-arrow):hover {color: #AFB0CE;}

.top_nav {width: 110px;position: absolute;top: 40px;right: 260px;z-index: 2;text-align: right;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.top_nav a {height: 20px;display: inline-block;margin: 5px 0;font-size: 16px;line-height: 20px;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.top_nav a span:not(.icon-location) {padding-bottom: 1px;border-bottom: 1px solid transparent;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
body:not(.mobile) .top_nav a:hover span:not(.icon-location) {border-color: #4E4F7E;}
.top_nav a.loc_icon {position: relative;}
.top_nav a.loc_icon span.icon-location {position: absolute;font-size: 16px;top: 1px;right: calc(100% + 10px);display: none;}
header.active .top_nav,
header.active .langs_box {opacity: 0;top: -30px;}

.innerPage.ajax_content .some_wrap {padding-top: 60px;padding-bottom: 120px;}
.innerPage .product_item .lt {max-width: 60%;}
.innerPage .product_item .gt {max-width: 30%;font-size: 14px;}
.info_block {padding-top: 130px;width: 45%;}
.info_block .main_subtitle {font-size: 18px;}
.info_block .main_title {padding-top: 30px;}
.main_title.large_title span {font-size: 64px;}
.poster_block {width: 50%;height: 640px;position: relative;overflow: hidden;}
.poster_block > div {width: 100%;height: 100%;position: absolute;top: 0;left: 0;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}
.long_arrow {display: block;padding: 80px 0;position: relative;top: 0;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.long_arrow span {font-size: 50px;}
.long_arrow span:before {position: relative;left: -20px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);}
.products_line {width: 1000px;position: relative;left: calc(50% - 500px);margin: 40px 0 0;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.products_line .product_item {display: inline-block;margin: 0 0 24px;}
.products_line .product_item:nth-of-type(2),
.products_line .product_item:nth-of-type(5),
.products_line .product_item:nth-of-type(8),
.products_line .product_item:nth-of-type(11),
.products_line .product_item:nth-of-type(14),
.products_line .product_item:nth-of-type(17),
.products_line .product_item:nth-of-type(20),
.products_line .product_item:nth-of-type(23),
.products_line .product_item:nth-of-type(26),
.products_line .product_item:nth-of-type(29),
.products_line .product_item:nth-of-type(32),
.products_line .product_item:nth-of-type(35),
.products_line .product_item:nth-of-type(38),
.products_line .product_item:nth-of-type(41),
.products_line .product_item:nth-of-type(44),
.products_line .product_item:nth-of-type(47),
.products_line .product_item:nth-of-type(50),
.products_line .product_item:nth-of-type(53),
.products_line .product_item:nth-of-type(56),
.products_line .product_item:nth-of-type(59),
.products_line .product_item:nth-of-type(62),
.products_line .product_item:nth-of-type(65),
.products_line .product_item:nth-of-type(68),
.products_line .product_item:nth-of-type(71),
.products_line .product_item:nth-of-type(74),
.products_line .product_item:nth-of-type(77),
.products_line .product_item:nth-of-type(80) {margin-left: 24px;margin-right: 24px;top: 60px;}

.next_product {width: 100%;position: relative;background: #fff;}
.next_product .some_wrap {padding-top: 80px;padding-bottom: 80px;}
.next_product .circle_link_holder {padding-bottom: 40px;}
.next_product .circle_anim svg circle {stroke: #FFA4A7;}
.filter_box {width: 100%;padding: 50px 0 80px;position: relative;text-align: center;z-index: 30;}
.filter_box .filter_wrap {width: 560px;position: relative;left: calc(50% - 280px);padding-bottom: 20px;}
.filter_container {width: 560px;position: absolute;top: 50%;left: 0;background: #fff;z-index: 1;overflow: hidden;height: 0px;opacity: 0;padding: 0 30px;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.filter_item {display: inline-block;height: 24px;margin: 0 25px;position: relative;font-size: 18px;color: #4E4F7E;cursor: pointer;padding-right: 20px;}
.filter_item span.icon-arrow {font-size: 10px;margin-left: 8px;color: #4E4F7E;position: absolute;top: 4px;right: 0;margin-top: 3px;}
.filter_itm {width: calc(50% - 15px);height: 2.4em;overflow: hidden;display: inline-block;margin-right: 25px;}
.filter_itm:nth-of-type(2n) {margin-right: 0;}
.filter_cont_wrapper {text-align: left;padding-top: 30px;}
.filter_check {height: 100%;display: flex;flex-direction: column;justify-content: center;text-align: left;cursor: pointer;}
.filter_check input[type="checkbox"] {display: none;}
.filter_check span {font-size: 16px;color: #4E4F7E;position: relative;padding-left: 28px;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.filter_check span:before {width: 18px;height: 18px;border: 1px solid #AFB0CE;position: absolute;top: 1px;left: 0;z-index: 1;content: "";-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.filter_check span:after {width: 18px;height: 18px;position: absolute;top: 1px;left: 0;z-index: 2;content: "\0049";text-align: center;text-indent: 1px;opacity: 0;line-height: 18px;font-size: 12px;color: #4E4F7E;font-family: 'sante_icons';font-style: normal;font-weight: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-transform: scale(.5);-moz-transform: scale(.5);transform: scale(.5);-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.filter_check input[type="checkbox"]:checked ~ span:before {border-color: #4E4F7E;}
.filter_check input[type="checkbox"]:checked ~ span:after {opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);}
body:not(.mobile) .filter_check:hover span,
.filter_check input[type="checkbox"]:checked ~ span {color: #FFA4A7;}
.filter_item[data-filter="1"].active ~ .filter_container[data-target="1"],
.filter_item[data-filter="2"].active ~ .filter_container[data-target="2"],
.filter_item[data-filter="3"].active ~ .filter_container[data-target="3"],
.filter_item[data-filter="4"].active ~ .filter_container[data-target="4"],
.filter_item[data-filter="5"].active ~ .filter_container[data-target="5"] {opacity: 1;top: 100%;height: 340px;}
.uncheck_all {width: 100px;height: 20px;display: block;position: absolute;top: 5px;left: calc(50% - 50px);text-align: center;font-size: 14px;color: #AFB0CE;line-height: 20px;cursor: pointer;}
body:not(.mobile) .uncheck_all:hover {color: #4E4F7E;}
body:not(.mobile) .filter_item:hover {color: #AFB0CE;}
.filter_item.active {color: #AFB0CE;}
.filter_item.active span.icon-arrow {margin-top: 0;color: #AFB0CE;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
.filter_container[data-chkd="0"] .uncheck_all {opacity: 0;}

.prodPage .some_wrap {padding-top: 0;}
.prod_infobox {width: 100%;position: relative;}
.prod_image {width: 50vw;height: 100vh;position: relative;z-index: 2;left: -170px;}
.prod_image .prod_image_mover {width: 100%;height: 100%;position: absolute;background: #fff;top: 0;left: 0;}
.prod_image .prod_image_holder {width: 60%;height: 60%;position: absolute;top: 20%;left: 20%;}
.prod_names {width: 600px;position: absolute;top: 170px;left: calc(50% - 300px);z-index: 3;text-align: center;}
.prod_names .main_subtitle {padding-bottom: 20px;}
.prod_information {width: 40%;height: 100vh;position: absolute;top: 0;right: 0;}
.prod_information_holder {width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;}
.swp_descr_tags {display: block;}
.swp_descr_tags .swp_desr_item {display: inline-block;height: 24px;position: relative;font-size: 18px;line-height: 24px;color: #AFB0CE;margin: 0 24px 0 0;cursor: pointer;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.swp_descr_tags .swp_desr_item:before {width: 0px;height: 0px;position: absolute;top: -15px;left: 50%;content: "";background: #4E4F7E;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.swp_descr_tags .swp_desr_item.active:before {width: 4px;height: 4px;top: -17px;left: calc(50% - 2px);}
.swp_descr_tags .swp_desr_item.active,
body:not(.mobile) .swp_descr_tags .swp_desr_item:hover {color: #4E4F7E;}
#descr_swp {width: 100%;margin: 30px 0 0;}
#descr_swp .swiper-slide:not(.swiper-slide-active) {opacity: 0 !important;}
#descr_swp .swiper-slide .swp_descr {display: block;font-size: 18px;color: #4E4F7E;margin: 0;padding: 0;}
.where_to_buy {margin-top: 40px;position: relative;}
.where_to_buy .circle_anim svg circle {stroke: #FFA4A7;}
.switch_state {height: 100%;opacity: 0;-webkit-transition: .2s ease;-moz-transition: .2s ease;transition: .2s ease;}
.switch_state span:not(.spcl) {height: 100%;}
.switch_state span.close_it {width: 40px;height: 56px;position: absolute;top: 0;left: 100%;display: block;}
.switch_state[data-state="2"] {position: absolute;top: 0;left: 0;}
.switcher:not(.active) .switch_state[data-state="1"],
.switcher.active .switch_state[data-state="2"] {opacity: 1;}
.switcher.active:before {opacity: 0;}
.switcher .switch_state[data-state="2"] span.close_it:before {width: 24px;height: 1px;position: absolute;top: 50%;right: 0;background: #4E4F7E;content: "";-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);transform: rotate(45deg);}
.switcher .switch_state[data-state="2"] span.close_it:after {width: 24px;height: 1px;position: absolute;top: 50%;right: 0;background: #4E4F7E;content: "";-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);}
.where_box {position: absolute;top: calc(100% + 20px);left: 0;}
.where_box_wrap {position: relative;height: 0px;width: 440px;padding: 0 40px;top: -20px;overflow: hidden;background: #fff;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.switcher.active ~ .where_box .where_box_wrap {height: 240px;padding: 30px 40px;}
.buy_link {display: block;padding: 5px;margin: 5px 0;text-align: center;font-size: 18px;color: #4E4F7E;}
.buy_link span.icon-bag {display: none;}
.buy_link.like_btn {padding: 15px 10px;margin-bottom: 5px;background: #4E4F7E;color: #fff;}
.buy_link.like_btn span.icon-bag {display: inline-block;font-size: 16px;margin-left: 10px;position: relative;top: 2px;}
body:not(.mobile) .buy_link:not(.like_btn):hover {color: #AFB0CE;}
body:not(.mobile) .buy_link.like_btn:hover {background: #AFB0CE;}
.another_prods {position: relative;}
.main_title.small_title span {font-size: 32px;}
#anoth_swp .swiper-slide {padding-bottom: 60px;}
#anoth_swp .swiper-slide:nth-child(2n) .product_item {top: 60px;}
.slider_directions {position: absolute;top: 0;right: 0;text-align: right;}
.slider_directions .swp_dir {position: relative;width: 40px;height: 40px;display: inline-block;text-align: center;font-size: 28px;color: #4E4F7E;margin: 0 0 0 20px;line-height: 40px;cursor: pointer;}
.slider_directions .swp_dir:before {position: absolute;top: calc(50% - 16px);left: 0;}
.slider_directions .swp_dir.prev_dir {-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
body:not(.mobile) .slider_directions .swp_dir:hover {color: #AFB0CE;}
.stores_box {width: 980px;position: relative;padding-top: 60px;}
.stores_box .store_item {width: 308px;height: 308px;display: inline-block;margin: 0 23px 23px 0;position: relative;overflow: hidden;}
.stores_box .store_item .visibHider {width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #fff;-webkit-transition: .4s ease;-moz-transition: .4s ease;transition: .4s ease;}
.stores_box .store_item .store_logo {width: 70%;height: 80%;position: relative;margin: 10% 0 0 15%;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.stores_box .store_item .go_to_link {width: 80%;height: 20px;position: absolute;bottom: 30px;left: 10%;font-size: 16px;color: #4E4F7E;text-align: center;opacity: 0;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.stores_box .store_item .go_to_link > span {padding-bottom: 3px;border-bottom: 1px solid #4E4F7E;}
.stores_box .store_item .go_to_link span.icon-direction {margin-left: 5px;font-size: 10px;position: relative;top: 1px;}
body:not(.mobile) .stores_box .store_item:hover .store_logo {height: 70%;}
body:not(.mobile) .stores_box .store_item:hover .go_to_link {bottom: 40px;opacity: 1;}
.online_stores .some_wrap {padding-left: 285px;}
.main_subtitle:not(.cntr_pos) {max-width: 400px;}
.ingredients_list .some_wrap {padding-left: 285px;}
.ingredients_list .some_wrap > .main_subtitle {position: relative;left: /*45%*/0;}
.ingr_list {position: relative;padding-top: 80px;}

.ingr_itm {width: 100%;padding: 60px 0;position: relative;display: flex;flex-direction: row;justify-content: center;}
.ingr_descr {width: 40%;min-height: 100%;margin-left: 60px;display: flex;flex-direction: column;justify-content: center;}
.inner_title {display: block;font: 32px anglecia;color: #4E4F7E;}
.ingr_imgs {width: 50%;position: relative;left: -100px;}
.ingr_descr_wrap {}
.ingr_imgs .imgs_layer:nth-child(1) {width: 100%;height: 400px;position: relative;z-index: 1;}
.ingr_imgs .imgs_layer:nth-child(2) {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 2;}
.imgs_holder {width: 100%;height: 100%;position: relative;}
.imgs_holder .dop_img {width: 200px;height: 200px;position: absolute;/*background: #fff;*/}
.imgs_holder .dop_img > div {width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-position: center;background-size: contain;background-repeat: no-repeat;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.imgs_holder .dop_img.top_left {top: -60px;left: -60px;}
.imgs_holder .dop_img.top_right {top: -60px;right: -60px;}
.imgs_holder .dop_img.bottom_left {bottom: -60px;left: -60px;}
.imgs_holder .dop_img.bottom_right {bottom: -60px;right: -60px;}
.ingr_itm:nth-of-type(2n) {flex-direction: row-reverse;}
.ingr_itm:nth-of-type(2n) .ingr_descr {margin-left: 0;margin-right: 60px;}
.ingr_itm:nth-of-type(2n) .ingr_imgs {left: 100px;}

.phil_main .follow_info {padding-top: 80px;}
.phil_main .follow_poster {height: 440px;position: relative;right: -170px;}
.phil_descrbox {width: 650px;position: relative;left: calc(50% - 325px);padding: 60px 0;z-index: 2;}
.phil_descrbox .main_subtitle {max-width: 100%;}
.quote_box {position: relative;padding: 30px 0;}
.quote_box span.icon-quotes {font-size: 60px;color: #FFB5B7;}
.quote_box .main_title.large_title {padding-top: 20px;padding-bottom: 30px;}
.scroll_to {position: absolute;bottom: 50px;left: 60px;font-size: 14px;color: #4E4F7E;}
.followus .follow_info {padding-top: 100px;}
.lea_branch {display: block;position: relative;z-index: 1;}

.leaf_icon:before {width: 85px;height: 85px;position: absolute;top: 20px;left: 250px;content: "";z-index: 1;background: url('../images/svg/branch_a.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.olive_branch:before {width: 95px;height: 95px;position: absolute;top: -110px;left: calc(50% - 47px);content: "";z-index: 1;background: url('../images/svg/branch_b.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.leaf_branch:before {width: 100px;height: 100px;position: absolute;top: -130px;left: -120px;content: "";z-index: 1;background: url('../images/svg/branch_c.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.leafs_sw:before {width: 130px;height: 130px;position: absolute;top: 450px;left: 100px;content: "";z-index: 1;background: url('../images/svg/branch_d.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.leafs_branch:before {width: 85px;height: 85px;position: absolute;bottom: 30px;left: -30px;content: "";z-index: 1;background: url('../images/svg/branch_a.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.lea_branch:before {width: 95px;height: 95px;position: absolute;top: -20px;right: 50px;content: "";z-index: 1;background: url('../images/svg/branch_b.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}
.some_branch:before {width: 80px;height: 80px;position: absolute;top: -10px;left: 130px;content: "";z-index: 1;background: url('../images/svg/branch_b.svg') center no-repeat;background-size: contain;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}

.back_shapes .back_morph {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 2;}
.back_shapes .back_morph svg path {background: url('../images/temp/argan_a.png') center no-repeat;background-size: cover;}

.prLine {display: block;font-family: inherit;font-size: inherit;font-weight: inherit;font-style: inherit;line-height: inherit;overflow: hidden;margin: 0;padding: 0;position: relative;}
.prLine > span {position: relative;display: block;font-family: inherit;font-size: inherit;font-weight: inherit;font-style: inherit;line-height: inherit;margin: 0;padding: 0;top: 0;-webkit-transition: all .7s cubic-bezier(0,.73,.4,1);-moz-transition: all .7s cubic-bezier(0,.73,.4,1);transition: all .7s cubic-bezier(0,.73,.4,1);}

.mask_holder {overflow: hidden;}
.mask_holder, .mask_wrap {width: 100%;height: 100%;position: absolute;top: 0;right: 0;z-index: 2;}
.mask_wrap {width: 70%;background-color: #ffffff;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
.mask_img {width: 980px;height: 100vh;position: absolute;top: 0;left: 0;z-index: 2;opacity: 0;}
.landing_wrap[data-active="1"] .mask_wrap {background-color: #ffffff;}
.landing_wrap[data-active="1"] .mask_img[data-target="1"] {opacity: 1;/*background-size: contain;*/background-repeat: no-repeat;background-position: 150% 50%;}
.landing_wrap[data-active="2"] .mask_wrap {background-color: #e1efbe;}
.landing_wrap[data-active="2"] .mask_img[data-target="2"] {opacity: 1;/*background-size: 105%;*/background-repeat: no-repeat;background-position: 50% 50%;}
.landing_wrap[data-active="3"] .mask_wrap {top: -4vh;background-color: #e1efbe;}
.landing_wrap[data-active="3"] .mask_img[data-target="3"] {opacity: 1;/*background-size: 86%;*/background-repeat: no-repeat;background-position: 135% 50%;}
.landing_wrap[data-active="4"] .mask_wrap {background-color: #184128;}
.landing_wrap[data-active="4"] .mask_img[data-target="4"] {opacity: 1;/*background-size: contain;*/background-repeat: no-repeat;background-position: 50% 50%;}
.landing_wrap[data-active="5"] .mask_wrap {top: -6vh;background-color: #d1f2f8;}
.landing_wrap[data-active="5"] .mask_img[data-target="5"] {opacity: 1;/*background-size: cover;*/background-repeat: no-repeat;background-position: center;}
.landing_wrap[data-active="6"] .mask_wrap {top: -6vh;background-color: #ffc0c2;}
.landing_wrap[data-active="6"] .mask_img[data-target="6"] {opacity: 1;/*background-size: cover;*/background-repeat: no-repeat;background-position: 50% 50%;}
.landing_wrap[data-active="91"] .mask_img[data-target="90"],
.landing_wrap[data-active="92"] .mask_img[data-target="90"],
.landing_wrap[data-active="93"] .mask_img[data-target="90"],
.landing_wrap[data-active="94"] .mask_img[data-target="90"],
.landing_wrap[data-active="95"] .mask_img[data-target="90"] {opacity: 1;}
.landing_wrap[data-active="1"] .mask_img > span,
.landing_wrap[data-active="91"] .mask_wrap {background-color: #E1F1FA;}
.landing_wrap[data-active="2"] .mask_img > span,
.landing_wrap[data-active="92"] .mask_wrap {background-color: #C9E79D;}
.landing_wrap[data-active="3"] .mask_img > span,
.landing_wrap[data-active="93"] .mask_wrap {background-color: #E1EFBE;}
.landing_wrap[data-active="4"] .mask_img > span,
.landing_wrap[data-active="94"] .mask_wrap {background-color: #333333;}
.landing_wrap[data-active="5"] .mask_img > span,
.landing_wrap[data-active="95"] .mask_wrap {background-color: #DCF3F5;}
.mask_img > span {position: absolute;filter: blur(14px);display: block;width: 0;height: 0;-webkit-transition: .6s ease;-moz-transition: .6s ease;transition: .6s ease;}
.mask_img > span:nth-of-type(1) {top: 10%;left: 20%;}
.mask_img > span:nth-of-type(2) {top: 60%;left: 40%;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.mask_img > span:nth-of-type(3) {bottom: 0;left: 10%;}
.mask_img > span:nth-of-type(4) {bottom: 30%;right: 10%;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.mask_img > span:nth-of-type(5) {top: 5%;right: 0;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}



/* color Themes */
.landing_wrap[data-theme="1"],
.landing_wrap[data-theme="1"] .back_shapes .back_color {background: #FFFFFF;}
.landing_wrap[data-theme="1"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="1"] .back_shapes .mask_wrap .mask_img[data-target="1"],
.landing_wrap[data-theme="1"] .back_shapes .mask_img > span {background: #E1F1FA;}
.landing_wrap[data-theme="1"] .slide_wrap .circle_anim svg circle {background: #95E2EE;}

.landing_wrap[data-theme="2"],
.landing_wrap[data-theme="2"] .back_shapes .back_color {background: #F7FFEB;}
.landing_wrap[data-theme="2"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="2"] .back_shapes .mask_wrap .mask_img[data-target="2"],
.landing_wrap[data-theme="2"] .back_shapes .mask_img > span {background: #C9E79D;}
.landing_wrap[data-theme="2"] .slide_wrap .circle_anim svg circle {background: #C9E79D;}

.landing_wrap[data-theme="3"],
.landing_wrap[data-theme="3"] .back_shapes .back_color {background: #FAFAFA;}
.landing_wrap[data-theme="3"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="3"] .back_shapes .mask_wrap .mask_img[data-target="3"],
.landing_wrap[data-theme="3"] .back_shapes .mask_img > span {background: #E1EFBE;}
.landing_wrap[data-theme="3"] .slide_wrap .circle_anim svg circle {background: #C9E79D;}

.landing_wrap[data-theme="4"],
.landing_wrap[data-theme="4"] .back_shapes .back_color {background: #184128;}
.landing_wrap[data-theme="4"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="4"] .back_shapes .mask_wrap .mask_img[data-target="4"],
.landing_wrap[data-theme="4"] .back_shapes .mask_img > span {background: #555555;}
.landing_wrap[data-theme="4"] .slide_wrap .circle_anim svg circle {background: #FFFFFF;}

.landing_wrap[data-theme="5"],
.landing_wrap[data-theme="5"] .back_shapes .back_color {background: #FCF3F3;}
.landing_wrap[data-theme="5"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="5"] .back_shapes .mask_wrap .mask_img[data-target="5"],
.landing_wrap[data-theme="5"] .back_shapes .mask_img > span {background: #DCF3F5;}
.landing_wrap[data-theme="5"] .slide_wrap .circle_anim svg circle {background: #95E2EE;}

.landing_wrap[data-theme="31"],
.landing_wrap[data-theme="31"] .back_shapes .back_color {background: #FFFCF0;}
.landing_wrap[data-theme="31"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="31"] .back_shapes .mask_img > span {background: #FFEFA6;}
.landing_wrap[data-theme="31"] .slide_wrap .circle_anim svg circle {background: #FFE779;}

.landing_wrap[data-theme="32"],
.landing_wrap[data-theme="32"] .back_shapes .back_color {background: #FFF8FA;}
.landing_wrap[data-theme="32"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="32"] .back_shapes .mask_img > span {background: #FEE2E7;}
.landing_wrap[data-theme="32"] .slide_wrap .circle_anim svg circle {background: #FFC1CC;}

.landing_wrap[data-theme="33"],
.landing_wrap[data-theme="33"] .back_shapes .back_color {background: #FCFAFF;}
.landing_wrap[data-theme="33"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="33"] .back_shapes .mask_img > span {background: #EBE2FA;}
.landing_wrap[data-theme="33"] .slide_wrap .circle_anim svg circle {background: #CEB1FF;}

.landing_wrap[data-theme="34"],
.landing_wrap[data-theme="34"] .back_shapes .back_color {background: #FBF9F9;}
.landing_wrap[data-theme="34"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="34"] .back_shapes .mask_img > span {background: #E5DEDE;}
.landing_wrap[data-theme="34"] .slide_wrap .circle_anim svg circle {background: #D1C1C1;}

.landing_wrap[data-theme="35"],
.landing_wrap[data-theme="35"] .back_shapes .back_color {background: #F8FFF5;}
.landing_wrap[data-theme="35"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="35"] .back_shapes .mask_img > span {background: #D5F3CA;}
.landing_wrap[data-theme="35"] .slide_wrap .circle_anim svg circle {background: #B5E5A4;}

.landing_wrap[data-theme="36"],
.landing_wrap[data-theme="36"] .back_shapes .back_color {background: #F7FEFF;}
.landing_wrap[data-theme="36"] .back_shapes .mask_wrap,
.landing_wrap[data-theme="36"] .back_shapes .mask_img > span {background: #DEF7FF;}
.landing_wrap[data-theme="36"] .slide_wrap .circle_anim svg circle {background: #C3F1FF;}




.next_prod_item {cursor: pointer;}
body:not(.mobile) .next_prod_item:hover .circle_anim svg {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);}
body:not(.mobile) .next_prod_item:hover .circle_anim svg circle {stroke-dashoffset: -180;}

body[data-cat="3"] .landing_wrap .back_shapes .back_color,
body[data-cat="4"] .landing_wrap .back_shapes .back_color,
body[data-cat="5"] .landing_wrap .back_shapes .back_color,
body[data-cat="6"] .landing_wrap .back_shapes .back_color {background-color: transparent !important;}
body[data-cat="3"] .landing_wrap {min-height: 100%;height: auto;background-color: #FCF3F3;}
body[data-cat="4"] .landing_wrap {min-height: 100%;height: auto;background-color: #F7EBF7;}
body[data-cat="5"] .landing_wrap {min-height: 100%;height: auto;background-color: #FFFCEB;}
body[data-cat="6"] .landing_wrap {min-height: 100%;height: auto;background-color: #EDF6FC;}

body[data-cat="3"] .landing_wrap[data-active="91"] .mask_img > span,
body[data-cat="3"] .landing_wrap[data-active="91"] .mask_wrap {background-color: #E1F1FA;}
body[data-cat="4"] .landing_wrap[data-active="91"] .mask_img > span,
body[data-cat="4"] .landing_wrap[data-active="91"] .mask_wrap {background-color: #FFFCEB;}
body[data-cat="5"] .landing_wrap[data-active="91"] .mask_img > span,
body[data-cat="5"] .landing_wrap[data-active="91"] .mask_wrap {background-color: #F7EBF7;}
body[data-cat="6"] .landing_wrap[data-active="91"] .mask_img > span,
body[data-cat="6"] .landing_wrap[data-active="91"] .mask_wrap {background-color: #FAE8E8;}

body[data-static="philosophy"] .landing_wrap .back_shapes .back_color,
body[data-static="ingredients"] .landing_wrap .back_shapes .back_color,
body[data-static="where"] .landing_wrap .back_shapes .back_color {background-color: transparent !important;}
body[data-static="philosophy"] .landing_wrap {min-height: 100%;height: auto;background-color: #FCF3F3;}
body[data-static="ingredients"] .landing_wrap {min-height: 100%;height: auto;background-color: #EDF6FC;}
body[data-static="where"] .landing_wrap {min-height: 100%;height: auto;background-color: #F0FAF4;}

.nodata_message {width: 100%;text-align: center;}
.nodata_message span {display: block;}
.nodata_message span:nth-of-type(1) {font: 28px anglecia;color: #4E4F7E;}
.nodata_message span:nth-of-type(2) {font-size: 18px;color: #4E4F7E;padding: 10px 0 0;}






.landing_wrap.hideAll .prLine > span {top: 4em;}
.landing_wrap.hideAll .main_subtitle.preLine > span {top: 30em;}
.landing_wrap.hideAll .slider_navs > span {top: 20px;}
.landing_wrap.hideAll .slide_counter {display: none;}
.landing_wrap.hideAll .show_item {opacity: 0;}
.landing_wrap.hideAll .mask_img > span {width: 85%;height: 85%;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
.landing_wrap.hideAll .mask_img > span:nth-of-type(1) {margin: -10% 0 0 -10%;}
.landing_wrap.hideAll .mask_img > span:nth-of-type(2) {margin: -30% 0 0 -20%;}
.landing_wrap.hideAll .mask_img > span:nth-of-type(3) {margin: 0 0 -5% -5%;}
.landing_wrap.hideAll .mask_img > span:nth-of-type(4) {margin: 0 -5% -15% 0;}
.landing_wrap.hideAll .mask_img > span:nth-of-type(5) {margin: -5% -5% 0 0;}
.landing_wrap .product_item:not(.swp):not(.thisVisible) {opacity: 0;-webkit-transform: translate(0, 100px);-moz-transform: translate(0, 100px);transform: translate(0, 100px);}
.landing_wrap.startAnim .product_item.thisVisible:not(.swp) {opacity: 1;-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);transform: translate(0, 0);}

.landing_wrap.hideAll .poster_block > div {top: 100%;}
.landing_wrap.hideAll .long_arrow {opacity: 0;top: -20px;}

.leaf_icon.detectVisibility:before, .olive_branch.detectVisibility:before, .leaf_branch.detectVisibility:before, .leafs_sw.detectVisibility:before, .leafs_branch.detectVisibility:before, .lea_branch.detectVisibility:before, .some_branch.detectVisibility:before {margin-top: 30px;opacity: 0;-webkit-transform: scale(.8);-moz-transform: scale(.8);transform: scale(.8);-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
.leaf_icon.detectVisibility.thisVisible:before, .olive_branch.detectVisibility.thisVisible:before, .leaf_branch.detectVisibility.thisVisible:before, .leafs_sw.detectVisibility.thisVisible:before, .leafs_branch.detectVisibility.thisVisible:before, .lea_branch.detectVisibility.thisVisible:before, .some_branch.detectVisibility.thisVisible:before {margin-top: 0;opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);}

.swiper-container.detectVisibility .swiper-wrapper .swiper-slide .product_item.swp {opacity: 0;left: 50px;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(1) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: 0s;-moz-transition-delay: 0s;transition-delay: 0s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(2) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .1s;-moz-transition-delay: .1s;transition-delay: .1s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(3) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(4) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(5) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;transition-delay: .4s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(6) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .5s;-moz-transition-delay: .5s;transition-delay: .5s;}
body.startAnim .swiper-container.detectVisibility.thisVisible .swiper-slide:nth-child(7) .product_item.swp {opacity: 1;left: 0;-webkit-transition-delay: .6s;-moz-transition-delay: .6s;transition-delay: .6s;}




.landing_wrap .preLine.detectVisibility:not(.thisVisible) .prLine > span {top: 4em;}


body:not(.mobile) .slider_container_wraper {cursor: grab;overflow: hidden;}
.bannerCursor {width: 56px;height: 56px;position: absolute;top: 0;left: 0;z-index: 4;-webkit-transition: .1s ease;-moz-transition: .1s ease;transition: .1s ease;}
.bannerCursor > div {width: 54px;height: 54px;position: absolute;top: 0;left: 0;background: transparent;border: 1px solid #4E4F7E;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;-webkit-transition: .1s ease;-moz-transition: .1s ease;transition: .1s ease;}
.bannerCursor > div:before {width: 8px;height: 14px;position: absolute;top: calc(50% - 7px);left: calc(50% - 19px);display: block;content: "";background: url('../images/svg/cursor_left.svg') center no-repeat;-webkit-transition: .3s cubic-bezier(0.845, 0, 0.340, 1);-moz-transition: .3s cubic-bezier(0.845, 0, 0.340, 1);transition: .3s cubic-bezier(0.845, 0, 0.340, 1);}
.bannerCursor > div:after {width: 8px;height: 14px;position: absolute;top: calc(50% - 7px);right: calc(50% - 19px);display: block;content: "";background: url('../images/svg/cursor_right.svg') center no-repeat;-webkit-transition: .3s cubic-bezier(0.845, 0, 0.340, 1);-moz-transition: .3s cubic-bezier(0.845, 0, 0.340, 1);transition: .3s cubic-bezier(0.845, 0, 0.340, 1);}
.bannerCursor > span {width: 140%;height: 14px;display: block;position: absolute;top: 100%;left: -20%;text-align: center;font-size: 12px;color: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
body.pressed .bannerCursor {width: 44px;height: 44px;}
body.pressed .bannerCursor > div {width: 42px;height: 42px;}
body.pressed .bannerCursor > div:before {left: -14px;}
body.pressed .bannerCursor > div:after {right: -14px;}
body.hoverOver:not(.pressed) .bannerCursor {width: 10px;height: 10px;}
body.hoverOver:not(.pressed) .bannerCursor > div {width: 8px;height: 8px;background: #4E4F7E;-webkit-transition: .4s ease;-moz-transition: .4s ease;transition: .4s ease;}
body.hoverOver:not(.pressed) .bannerCursor > div:before {left: -14px;opacity: 0;}
body.hoverOver:not(.pressed) .bannerCursor > div:after {right: -14px;opacity: 0;}
body.hoverOver:not(.pressed) .bannerCursor > span,
body.hideTip .bannerCursor > span {opacity: 0;-webkit-transform: scale(.3);-moz-transform: scale(.3);transform: scale(.3);}
body.clickedOver .bannerCursor {width: 10px !important;height: 10px !important;}
body.clickedOver .bannerCursor > div {width: 8px !important;height: 8px !important;background: #4E4F7E !important;-webkit-transition: .4s ease;-moz-transition: .4s ease;transition: .4s ease;}
body.clickedOver .bannerCursor > div:before {left: -14px !important;opacity: 0 !important;}
body.clickedOver .bannerCursor > div:after {right: -14px !important;opacity: 0 !important;}
body.hoverHeader .bannerCursor {opacity: 0;}
body.hideOver .bannerCursor {display: none;}

.landing_wrap[data-theme="4"] .bannerCursor > div {border-color: #fff;}
.landing_wrap[data-theme="4"] .bannerCursor > span {color: #fff;}
.landing_wrap[data-theme="4"] .bannerCursor > div:before {background: url('../images/svg/cursor_left_light.svg') center no-repeat;}
.landing_wrap[data-theme="4"] .bannerCursor > div:after {background: url('../images/svg/cursor_right_light.svg') center no-repeat;}
body.hoverOver:not(.pressed) .landing_wrap[data-theme="4"] .bannerCursor > div,
body.clickedOver .landing_wrap[data-theme="4"] .bannerCursor > div {background: #fff;}



.detectVisibility:not(.thisVisible):not(.preLine) {opacity: 0;}
body:not(.startAnim) header {top: -50px;opacity: 0;}
.landing_wrap .ingredient_item.detectVisibility {opacity: 0;}
.landing_wrap .ingredient_item.detectVisibility .ingr_img {-webkit-transform: scale(1.2);-moz-transform: scale(1.2);transform: scale(1.2);}
body:not(.startAnim) .landing_wrap .flip_title.detectVisibility {opacity: 0;margin-left: -40px;}
body:not(.startAnim) .landing_wrap .follow_poster.detectVisibility {opacity: 0;top: 40px;}
body:not(.startAnim) .landing_wrap .main_subtitle.detectVisibility {opacity: 0;top: 30px;}
body:not(.startAnim) .landing_wrap .ingr_itm.detectVisibility {opacity: 0;top: 30px;}
body:not(.startAnim) .landing_wrap .store_item.detectVisibility .visibHider {left: -100%;}
body:not(.startAnim) .landing_wrap .filter_item.detectVisibility {opacity: 0;top: 30px;}
body:not(.startAnim) .landing_wrap .swp_descr_tags.detectVisibility {opacity: 0;top: 30px;}
body:not(.startAnim) .landing_wrap .swiper-container.detectVisibility {opacity: 0;top: 30px;}
body:not(.startAnim) .landing_wrap .ingredient_item.detectVisibility .imgs_holder .dop_img > div {left: 100%;}
body:not(.startAnim) .landing_wrap .products_line {top: 80px;opacity: 0;}

body.startAnim .landing_wrap .circle_anim.detectVisibility.thisVisible {opacity: 1;}
.landing_wrap .ingredient_item.detectVisibility.thisVisible {opacity: 1;}
.landing_wrap .ingredient_item.detectVisibility.thisVisible .ingr_img {-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);-webkit-transition-delay: .1s;-moz-transition-delay: .1s;transition-delay: .1s;}
body.startAnim .landing_wrap .flip_title.detectVisibility.thisVisible {opacity: 1;margin-left: 0;}
body.startAnim .landing_wrap .follow_poster.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .main_subtitle.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .ingr_itm.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .store_item.detectVisibility.thisVisible .visibHider {left: 0;}
body.startAnim .landing_wrap .filter_item.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .swp_descr_tags.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .swiper-container.detectVisibility.thisVisible {opacity: 1;top: 0;}
body.startAnim .landing_wrap .ingredient_item.detectVisibility.thisVisible .imgs_holder .dop_img > div {left: 0;-webkit-transition-delay: .2s;-moz-transition-delay: .2s;transition-delay: .2s;}
body.startAnim .landing_wrap .products_line {top: 0;opacity: 1;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;transition-delay: .3s;}


.preloader_box {width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;z-index: 10000;background: #fff;}
.preloader_box .pre_logo {width: 38px;height: 40px;position: absolute;bottom: calc(50% - 20px);left: calc(50% - 19px);overflow: hidden;z-index: 1;}
.preloader_box .aft_logo {width: 38px;height: 0px;position: absolute;bottom: calc(50% - 20px);left: calc(50% - 19px);overflow: hidden;z-index: 2;}
.preloader_box .pre_logo:before {width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;z-index: 1;content: "";background: url('../images/svg/mLogo_lights.svg') right center no-repeat;background-size: auto 100%;}
.preloader_box .aft_logo:after {width: 100%;height: 40px;position: absolute;bottom: 0;left: 0;z-index: 1;content: "";background: url('../images/svg/mLogo.svg') right center no-repeat;background-size: auto 100%;}
.preloader_box.active .aft_logo {-webkit-animation: preloader 2s linear 1;-moz-animation: preloader 2s linear 1;animation: preloader 2s linear 1;-webkit-animation-fill-mode: forwards;-moz-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.preloader_box.hideMe {opacity: 0;}
.preloader_box.killMe {display: none;}
.icon-long_pointer {color: #4E4F7E;}








@media screen and (min-width: 320px) and (max-width: 1000px) {
    .mobi {display: block;}
    .show_item.mobi {display: inline-block;}
    .hide_mobi {display: none;}

    body[data-al="site/index"] .mask_wrap {-webkit-clip-path: url('#morph_mask');-moz-clip-path: url('#morph_mask');clip-path: url('#morph_mask');}
    .landing_wrap .mask_wrap {opacity: 0;}
    body[data-al="site/index"] .landing_wrap .mask_wrap {opacity: 1;}

    .logo {width: 38px;margin: 24px 0 0 24px;background-position: right center;background-size: auto 100%;}
    .menuBtn {width: 60px;height: 60px;position: absolute;top: 15px;right: 15px;z-index: 70;}
    .menuBtn:before {width: 40px;height: 2px;position: absolute;top: calc(50% - 1px);margin-top: -4px;right: 10px;content: "";background: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
    .menuBtn:after {width: 40px;height: 2px;position: absolute;top: calc(50% - 1px);margin-top: 4px;right: 10px;content: "";background: #4E4F7E;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
    .menuBtn.active:before {margin-top: 0;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);}
    .menuBtn.active:after {margin-top: 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);transform: rotate(45deg);}
    .menu_wrapper {width: calc(100vw - 48px);margin: 0 24px;top: 0;left: 0;padding-top: 12vh;opacity: 0;height: 0px;overflow: hidden;position: absolute;z-index: 1;}
    .nav_item {display: block;margin: 15px 0;font-size: 24px;}
    .langs_box {opacity: 0;top: 10px;right: calc(50% - 30px);}
    header[data-choosed="1"] {background-color: #FCF3F3;}
    header[data-choosed="1"] .nav_item:not(.active) {display: none;}
    header[data-choosed="1"] .nav_item:before {display: none;}
    header[data-choosed="1"] .nav_item.active {width: 100%;padding: 0;position: absolute;top: -60px;text-align: center;color: #4E4F7E;font-size: 16px;}
    header[data-choosed="1"] .nav_item.active span.icon-arrow:not(.inline) {display: none;}
    header[data-choosed="1"] .nav_item.active span.icon-arrow.inline {display: inline-block;font-size: 10px;position: relative;top: 5px;margin-right: 8px;color: #4E4F7E;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);}
    header[data-choosed="1"] .langs_box {display: none;}
    header[data-choosed="1"] .top_nav {display: none;}

    .nav_item[data-drop="1"].active ~ .drop_box[data-box="1"],
    .nav_item[data-drop="2"].active ~ .drop_box[data-box="2"],
    .nav_item[data-drop="3"].active ~ .drop_box[data-box="3"],
    .nav_item[data-drop="4"].active ~ .drop_box[data-box="4"],
    .nav_item[data-drop="5"].active ~ .drop_box[data-box="5"] {height: 70%;display: block;}
    .drop_box_wrap {width: 100% !important;max-width: 100% !important;}
    .nav_cat ~ .droplist_wrap {max-height: 0px;overflow: hidden;position: relative;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
    .nav_cat.active ~ .droplist_wrap {max-height: 900px;padding-bottom: 30px;}
    .droplist_wrap .nav_itm {width: 100%;padding: 5px 0;}
    .nav_cat {border-color: #fff;}
    .nav_cat span.icon-arrow {position: absolute;top: 0;right: 0;font-size: 10px;color: #4E4F7E;}
    .top_nav {top: 100vh !important;right: 24px;opacity: 0;}
    .top_nav a {font-size: 18px;margin: 10px 0;}

    .slide_counter {left: 4px;}
    #main_swp .swiper-slide {width: 100vw;padding: 20vh 24px 10vh;}
    #main_swp .swiper-slide.swiper-slide-active .slide_wrap {padding-left: 0;}
    #main_swp .swiper-slide .slide_name {font-size: 48px;padding-bottom: 30px;}
    .drag_circle {border: none;top: auto;bottom: 0;opacity: 1 !important;}
    .main_title span {font-size: 36px;}
    .some_wrap {padding: 40px 24px !important;}
    .innerPage .some_wrap {padding-top: 120px !important;}
    .ingredients_box {width: 280px;left: calc(50% - 140px);padding-top: 40px;}
    .ingredient_item {width: 200px;height: 200px;margin: 20px 0 !important;top: 0 !important;}
    .ingredient_item:nth-of-type(2) {left: -40px;}
    .ingredient_item:nth-of-type(3) {left: 50px;}
    .ingredient_item:nth-of-type(4) {left: -30px;}
    .ingredient_item:nth-of-type(5) {left: 30px;}
    .ingredient_item:nth-of-type(6) {left: -50px;}
    .ingredient_item:nth-of-type(7) {left: 40px;}
    .ingredient_item:nth-of-type(8) {left: -40px;}
    .ingredient_item:nth-of-type(9) {left: 30px;}
    .ingredient_item:nth-of-type(10) {left: -20px;}
    .ingredient_item + br {display: block;}
    .new_prods_box {height: 630px;margin-top: 40px;}
    .flip_title {position: relative;bottom: 0;left: 0;-webkit-transform: rotate(0);-moz-transform: rotate(0);transform: rotate(0);font-size: 28px;}
    #new_swp {left: -24px;height: 480px;margin-top: 30px;width: 100vw;}
    .product_item {width: 280px;}
    #new_swp .swiper-slide {width: 280px;}
    .row_align {display: block;}
    .followus .follow_info {width: 100%;padding-top: 40px;}
    footer {padding: 0 24px 50px;}
    footer .footer_title:before {width: calc(50% - 60px);left: -24px;opacity: .2;}
    footer .footer_title:after {width: calc(50% - 60px);right: -24px;opacity: .2;}
    footer .ft_copy {margin: 30px 0 0;}
    footer .ft_copy .ft_nav {position: relative;width: 140px;text-align: left;margin-bottom: 30px;}
    footer .ft_copy .ft_nav a {margin: 10px 0;}
    footer .to_facebook {top: 10px;}
    .filter_box {padding: 50px 0 20px;}
    .filter_box .filter_wrap {width: 100%;left: 0;}
    .filter_item {padding-right: 14px;margin: 0 6px;}
    .filter_item:nth-of-type(1) {margin-left: 0;}
    .filter_item:last-of-type {margin-right: 0;}
    .filter_container {width: calc(100% + 48px);left: -24px;padding: 15px;}
    .filter_check span {line-height: 100%;}
    .products_line {margin-top: 20px;}
    .products_line {width: 280px;left: calc(50% - 140px);}
    .products_line .product_item {margin: 0 0 15px !important;top: 0 !important;}
    .main_title.large_title span {font-size: 48px;}
    .info_block {width: 100%;padding-top: 0;padding-bottom: 30px;}
    .prod_image {width: 100vw;left: -24px;top: -40px;height: 650px;}
    .prod_image .prod_image_holder {width: 80%;height: 400px;left: 10%;top: 330px;}
    .prod_names {width: 100%;left: 0;top: 60px;}
    .prod_information {position: relative;width: 100%;height: auto;padding: 120px 0 40px;}
    .swp_descr_tags .swp_desr_item {margin-right: 16px;}
    #anoth_swp {right: 0;height: 480px;margin-top: 30px;width: calc(100vw - 24px);}
    #anoth_swp .swiper-slide {width: 280px;}
    .another_prods {z-index: 1;}
    .prodPage .some_wrap {position: relative;z-index: 2;}
    .where_box {width: 320px;left: -24px;}
    .switcher.active ~ .where_box .where_box_wrap {padding: 24px;width: 100%;}
    .buy_link {font-size: 16px;}
    .stores_box {width: 280px;left: calc(50% - 140px);}
    .stores_box .store_item {width: 100%;height: 160px;margin: 0 0 15px;}
    .stores_box .store_item .store_logo {width: 50%;height: 50%;margin: 40px 25%;}
    body:not(.mobile) .stores_box .store_item:hover .store_logo {height: 50%;}
    .ingredients_list {overflow: hidden;}
    .ingredients_list .some_wrap > .main_subtitle {left: 0;}
    .ingr_itm {width: 100%;left: 0;display: block;padding: 20px 0;}
    .ingr_descr {width: 100%;}
    .ingr_imgs {width: 340px;left: 50px;}
    .dop_img {display: none;}
    .ingr_itm:nth-of-type(2n) .ingr_imgs {left: -50px;}
    .ingr_descr {margin: 0;}
    .phil_main .follow_info {padding-top: 0;}
    .follow_info {width: 100%;}
    .phil_main .follow_poster {width: 100vw;height: 0;left: -24px;padding-top: 77%;margin-top: 30px;}
    .phil_descrbox {width: 100%;left: 0;padding: 40px 0;}
    .quote_box span.icon-quotes {font-size: 40px;}
    .quote_box {padding: 30px 30px 0;}
    .lea_branch {height: 100px;}
    .followus {min-height: auto;position: relative;}
    .products_line.with_slider {width: 100%;left: 0;}

    .bubble.bub_a {width: 300px;height: 300px;top: 25%;left: -100px;}
    .bubble.bub_b {width: 300px;height: 300px;top: 40%;right: -150px;}

    .bubble.bub_e {width: 300px;height: 300px;top: 32%;left: -100px;}
    .bubble.bub_f {width: 300px;height: 300px;top: 0;right: -150px;}

    .bubble.bub_g {width: 300px;height: 300px;top: auto;bottom: 0;left: -100px;}
    .bubble.bub_h {width: 300px;height: 300px;top: 10%;right: -100px;}


    header.active {height: 100vh;}
    header.active .menu_wrapper {height: 100vh;opacity: 1;}
    header.active .menu_wrapper .wrapper_wrapper {width: 100%;height: 100%;}
    header.active .langs_box {top: 37px;opacity: 1;}
    header.active .top_nav {opacity: 1;z-index: 5;top: calc(100vh - 200px) !important;}


    .leaf_icon:before {width: 70px;height: 70px;top: 10px;left: 180px;}
    .olive_branch:before {width: 60px;height: 60px;top: -10px;left: calc(50% - 30px);}
    .some_branch:before {width: 60px;height: 60px;top: -10px;left: 130px;}
    .lea_branch:before {width: 60px;height: 60px;top: 20px;left: calc(50% - 30px);}
    .leaf_branch:before {width: 70px;height: 70px;left: 60%;top: 0;}

    .drop_box {overflow-y: scroll;}
    body.activated,
    body.activated .pageContent,
    body.activated .landing_wrap,
    body.activated .grids_container,
    body.activated .other_content {overflow: hidden !important;}
/*
    .mask_img {background-image: none !important;}
    .mask_wrap {display: none;}*/
    .nodata_message span:nth-of-type(1) {font-size: 20px;}
    .nodata_message span:nth-of-type(2) {font-size: 16px;}

    .follow_poster > div {top: 0;left: 0;}
    .slider_navs.mobi {width: 130px;height: 30px;position: absolute;top: auto;bottom: 80px;left: calc(50% - 65px);}
    .slider_navs.mobi .movePrev {margin: 0;position: absolute;top: 0;left: 0;width: 50px;height: 30px;font-size: 40px;color: #4E4F7E;line-height: 30px;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);transform: rotate(-180deg);}
    .slider_navs.mobi .moveForw {margin: 0;position: absolute;top: 0;right: 0;width: 50px;height: 30px;font-size: 40px;color: #4E4F7E;line-height: 30px;}
    .slider_navs.mobi .moveForw:before {position: relative;top: -10px;}
    .landing_wrap[data-theme="4"] .slider_navs.mobi .movePrev,
    .landing_wrap[data-theme="4"] .slider_navs.mobi .moveForw {color: #fff;}

}

@media screen and (min-width: 720px) and (max-width: 1000px) {
    .products_line, .ingredients_box, .stores_box {width: 580px;left: calc(50% - 290px);}
    .products_line .product_item {margin: 0 15px 15px 0 !important;}
    .products_line .product_item:nth-of-type(2n) {margin-right: 0 !important;}
    .ingredient_item {width: 230px;height: 230px;}
    .ingredient_item:nth-of-type(2) {left: -80px;}
    .ingredient_item:nth-of-type(3) {left: 80px;}
    .ingredient_item:nth-of-type(5) {left: 120px;}
    .ingredient_item:nth-of-type(6) {left: -100px;}
    .filter_item {margin: 0 24px;}
    .filter_container {width: 540px;left: calc(50% - 270px);padding: 0 30px;}
    .stores_box .store_item {width: calc(50% - 10px);margin-right: 15px;}
    .stores_box .store_item:nth-of-type(2n) {margin-right: 0;}
    #main_swp .swiper-slide {width: 90vw;}



}

@media screen and (min-width: 1001px) {
    .follow_poster.hide_mobi {display: block !important;}
    .mask_wrap {-webkit-clip-path: url('#morph_mask');-moz-clip-path: url('#morph_mask');clip-path: url('#morph_mask');}
    
    header:not(.sclTop) {top: -100px;opacity: 0;}
}

@media screen and (min-width: 1001px) and (max-width: 1450px) {
    .mobi {display: none;}
    .slide_name {font-size: 48px;}
    .drag_circle {top: calc(70% + 50px);}
    .top_nav {right: 160px;}
    .nav_item {margin-right: 20px;}
    .drop_box {width: calc(100vw - 140px);/*left: -210px;*/}
    .ingredients_box {width: calc(100% + 110px);left: -30px;top: 50px;}
    .ingredient_item {margin: 25px;}
    .ingredients_box .ingredient_item:nth-of-type(3n) {margin-right: 0;}
    .main_title span {font-size: 42px;}
    .main_title.large_title span {font-size: 54px;}
    .prod_names {top: 100px;}
    .prod_information {width: 55%;right: -90px;top: 50px;height: calc(100vh - 50px);}
    .follow_info {width: 47%;}
    .follow_poster {width: 48%;}
    .stores_box {width: 660px;}
    .stores_box .store_item:nth-of-type(2n) {margin-right: 0;}
    .top_ingredients .some_wrap .main_title,
    .top_ingredients .some_wrap .main_subtitle {top: -100px;}



}

@media screen and (min-width: 1451px) {
    .stores_box .store_item:nth-of-type(3n) {margin-right: 0;}
    .circle_anim.mobi {display: none;}


}



@media screen and (min-width: 1201px) {
    .bubble.bub_a {width: 400px;height: 400px;top: 42%;left: 200px;-webkit-animation: bubA 15s linear infinite;-moz-animation: bubA 15s linear infinite;animation: bubA 15s linear infinite;}
    .bubble.bub_b {width: 400px;height: 400px;top: 15%;right: -150px;-webkit-animation: bubB 18s linear infinite;-moz-animation: bubB 18s linear infinite;animation: bubB 18s linear infinite;}

    .bubble.bub_c {width: 350px;height: 350px;top: 10%;left: 15%;-webkit-animation: bubB 18s linear infinite;-moz-animation: bubB 18s linear infinite;animation: bubB 18s linear infinite;}
    .bubble.bub_d {width: 350px;height: 350px;top: 42%;left: 45%;-webkit-animation: bubA 15s linear infinite;-moz-animation: bubA 15s linear infinite;animation: bubA 15s linear infinite;}

    .bubble.bub_e {width: 400px;height: 400px;top: 32%;left: calc(50% - 500px);-webkit-animation: bubA 15s linear infinite;-moz-animation: bubA 15s linear infinite;animation: bubA 15s linear infinite;}
    .bubble.bub_f {width: 400px;height: 400px;top: 0;left: calc(50% + 150px);-webkit-animation: bubB 18s linear infinite;-moz-animation: bubB 18s linear infinite;animation: bubB 18s linear infinite;}

    .bubble.bub_g {width: 350px;height: 350px;top: 10%;right: 30%;-webkit-animation: bubB 18s linear infinite;-moz-animation: bubB 18s linear infinite;animation: bubB 18s linear infinite;}
    .bubble.bub_h {width: 350px;height: 350px;top: 40%;right: -150px;-webkit-animation: bubA 15s linear infinite;-moz-animation: bubA 15s linear infinite;animation: bubA 15s linear infinite;}
}

@media screen and (max-width: 1500px) {
    .mask_img {left: -60px;}
}

@media screen and (max-height: 900px) {
    body[data-al="site/index"] .landing_wrap .mask_wrap {top: -12vh !important;-webkit-transform: scale(.6);-moz-transform: scale(.6);transform: scale(.6);}
    body[data-al="site/index"] .mask_img {height: 140vh;}
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    body[data-al="site/index"] .landing_wrap .mask_wrap {right: 10%;top: -25vh !important;}
    body[data-al="site/index"] .mask_img {height: 170vh;}
}






@-webkit-keyframes bubA {
    0% {margin: 0;webkit-transform: scale(1) rotate(0deg);}
    10% {margin: 20px -10px 0 0;webkit-transform: scale(1) rotate(-4deg);}
    20% {margin: 10px -20px 0 0;webkit-transform: scale(1) rotate(0deg);}
    30% {margin: 0 -20px 0 0;webkit-transform: scale(1) rotate(4deg);}
    40% {margin: 0;webkit-transform: scale(.9) rotate(6deg);}
    50% {margin: 10px 0 0;webkit-transform: scale(1) rotate(2deg);}
    60% {margin: 10px 10px 0 0;webkit-transform: scale(1.1) rotate(0deg);}
    70% {margin: 0 10px 0 0;webkit-transform: scale(1.1) rotate(-2deg);}
    80% {margin: 0 10px 0 0;webkit-transform: scale(1) rotate(-4deg);}
    90% {margin: 0;webkit-transform: scale(1) rotate(-2deg);}
    100% {margin: 0;webkit-transform: scale(1) rotate(0deg);}
}
@-moz-keyframes bubA {
    0% {margin: 0;-moz-transform: scale(1) rotate(0deg);}
    10% {margin: 20px -10px 0 0;-moz-transform: scale(1) rotate(-4deg);}
    20% {margin: 10px -20px 0 0;-moz-transform: scale(1) rotate(0deg);}
    30% {margin: 0 -20px 0 0;-moz-transform: scale(1) rotate(4deg);}
    40% {margin: 0;-moz-transform: scale(.9) rotate(6deg);}
    50% {margin: 10px 0 0;-moz-transform: scale(1) rotate(2deg);}
    60% {margin: 10px 10px 0 0;-moz-transform: scale(1.1) rotate(0deg);}
    70% {margin: 0 10px 0 0;-moz-transform: scale(1.1) rotate(-2deg);}
    80% {margin: 0 10px 0 0;-moz-transform: scale(1) rotate(-4deg);}
    90% {margin: 0;-moz-transform: scale(1) rotate(-2deg);}
    100% {margin: 0;-moz-transform: scale(1) rotate(0deg);}
}
@keyframes bubA {
    0% {margin: 0;transform: scale(1) rotate(0deg);}
    10% {margin: 20px -10px 0 0;transform: scale(1) rotate(-4deg);}
    20% {margin: 10px -20px 0 0;transform: scale(1) rotate(0deg);}
    30% {margin: 0 -20px 0 0;transform: scale(1) rotate(4deg);}
    40% {margin: 0;transform: scale(.9) rotate(6deg);}
    50% {margin: 10px 0 0;transform: scale(1) rotate(2deg);}
    60% {margin: 10px 10px 0 0;transform: scale(1.1) rotate(0deg);}
    70% {margin: 0 10px 0 0;transform: scale(1.1) rotate(-2deg);}
    80% {margin: 0 10px 0 0;transform: scale(1) rotate(-4deg);}
    90% {margin: 0;transform: scale(1) rotate(-2deg);}
    100% {margin: 0;transform: scale(1) rotate(0deg);}
}

@-webkit-keyframes bubB {
    0% {margin: 0;transform: scale(1) rotate(0deg);}
    10% {margin: 0;transform: scale(1) rotate(-2deg);}
    20% {margin: 0 10px 0 0;transform: scale(1) rotate(-4deg);}
    30% {margin: 20px 10px 0 0;transform: scale(1.1) rotate(-2deg);}
    40% {margin: 30px 10px 0 0;transform: scale(1.1) rotate(0deg);}
    50% {margin: 10px 0 0;transform: scale(1) rotate(2deg);}
    60% {margin: 0;transform: scale(.9) rotate(6deg);}
    70% {margin: 0 -20px 0 0;transform: scale(1) rotate(4deg);}
    80% {margin: 10px -20px 0 0;transform: scale(1) rotate(0deg);}
    90% {margin: 20px -10px 0 0;transform: scale(1) rotate(-4deg);}
    100% {margin: 0;transform: scale(1) rotate(0deg);}
}
@-moz-keyframes bubB {
    0% {margin: 0;transform: scale(1) rotate(0deg);}
    10% {margin: 0;transform: scale(1) rotate(-2deg);}
    20% {margin: 0 10px 0 0;transform: scale(1) rotate(-4deg);}
    30% {margin: 20px 10px 0 0;transform: scale(1.1) rotate(-2deg);}
    40% {margin: 30px 10px 0 0;transform: scale(1.1) rotate(0deg);}
    50% {margin: 10px 0 0;transform: scale(1) rotate(2deg);}
    60% {margin: 0;transform: scale(.9) rotate(6deg);}
    70% {margin: 0 -20px 0 0;transform: scale(1) rotate(4deg);}
    80% {margin: 10px -20px 0 0;transform: scale(1) rotate(0deg);}
    90% {margin: 20px -10px 0 0;transform: scale(1) rotate(-4deg);}
    100% {margin: 0;transform: scale(1) rotate(0deg);}
}
@keyframes bubB {
    0% {margin: 0;transform: scale(1) rotate(0deg);}
    10% {margin: 0;transform: scale(1) rotate(-2deg);}
    20% {margin: 0 10px 0 0;transform: scale(1) rotate(-4deg);}
    30% {margin: 20px 10px 0 0;transform: scale(1.1) rotate(-2deg);}
    40% {margin: 30px 10px 0 0;transform: scale(1.1) rotate(0deg);}
    50% {margin: 10px 0 0;transform: scale(1) rotate(2deg);}
    60% {margin: 0;transform: scale(.9) rotate(6deg);}
    70% {margin: 0 -20px 0 0;transform: scale(1) rotate(4deg);}
    80% {margin: 10px -20px 0 0;transform: scale(1) rotate(0deg);}
    90% {margin: 20px -10px 0 0;transform: scale(1) rotate(-4deg);}
    100% {margin: 0;transform: scale(1) rotate(0deg);}
}


@-webkit-keyframes preloader {
    0% {height: 4px;} 25% {height: 12px;} 60% {height: 27px;} 100% {height: 40px;}
}
@-moz-keyframes preloader {
    0% {height: 4px;} 25% {height: 12px;} 60% {height: 27px;} 100% {height: 40px;}
}
@keyframes preloader {
    0% {height: 4px;} 25% {height: 12px;} 60% {height: 27px;} 100% {height: 40px;}
}








